
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*End Reset*/


body {
    position: relative;
    background: url("../images/books_header_bg.jpg") repeat-x;
    font-family: Roboto, serif;
    padding-bottom: 12em;
}


/* Header */

.bannerContainer {
    max-width: 50em;
    margin: 2em auto 0;
}

.mainHeader {
    font-family: "Roboto Slab", serif;
    font-size: 1.9em;
    color: #fff;
    font-weight: 300;
    padding-top: .3em;
}

 .modern {
    margin-top: 1em;
    word-spacing: .1em;
    color:#EAF3CC;
    font-weight:100;
}

.tagLine{
    /*margin-top: .5em;*/
    color:#769210;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
 }

@media (max-width: 518px) {
    .tagLine {
        /*max-width: 10rem;*/
        margin-top: 1em;
        /*text-align: center;*/
    }
}
@media(min-width: 519px) {
    .tagLine{
        margin-top: .5em;
        margin-left: initial;
        margin-right: initial;
        width: 100%;
    }
}

.headLogo {
    float: left;
    padding-right: 1.2em;
    padding-left: 3.5em;
}


/* Search Box */

.search {
    max-width:44em;
    margin: 3.5em auto 0;
    padding-bottom: 1.4em;

    display: flex;
}



input[type="text"] {
    height: 2.3em;
    width: 36em;
    background-color:#CEDD9A;
    color: #90A647;
    border: none;
    padding: .3em 1em;
    font-size: 1.125em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    outline: none;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius:0;
}

/* use another class on magnify image in search bar to add javascript click functionality later */

.dem {
    /*position: relative;*/
    left: 38.9em;
    top: 3.25em;
    height: 3.25em;
    max-width: 3.875em;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;

    order: 2;
}

.dem img {
    position: relative;
    top: -.2em;
    left: .1em;
    max-width: 3.6rem;
}

/* Placeholder text color */

::-webkit-input-placeholder {
    color: #90A647;
}

:-moz-placeholder { /* Firefox 18- */
    color: #90A647;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #90A647;
}

:-ms-input-placeholder {
    color: #90A647;
}



/* Nav Bar */

.navOl {
    list-style-type: none;
    margin: 2.1em auto 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.125em;
    font-family: "Roboto", sans-serif;
    /* text-align: center; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.navList {
    padding: 1em;
    display: inline-block;
}

.navLinks {
    display: block;
    text-decoration: none;
    color:#929292;
}

nav a:hover {
    color:#A2C331;
}


/* Main Section */


.main {
    clear: left;
    background:#F5F5F5;
    padding: 1em 0 20em;
    margin: 0 auto;
    width: 100%;
}

.bookEntry {
    margin: 3em auto 15em;
    /*width: 74em;*/
    max-width: 74em;
    height: 30em;
    background: #fff;
    border-radius: 3px;
}

.bookEntry div {
    display: flex;
    flex-flow: row wrap;
}
.lastBook {
  margin-bottom: 8em;
}

.bookImg {
    /*float: right;*/
    height: 30em;
    border-radius: 3px;

    margin-left: auto;
    /*order: 5;*/
}

.bookTitle {
    padding: 1em 0 .8em 1em;
    font-size: 1.8em;
    line-height:1.1em;

    margin-right: auto;
    order: 2;
    /*flex: 0 1 100%;*/
}

.bookSummary {
    float: left;
    clear: left;
    margin-top: 1.5em;
    width: 26em;
    border-right: 1px #EDEDED solid ;
    padding: 0 2.5em 1em 1em ;
}

.summaryP {
    color: #565656;
    line-height: 1.4em;
    padding: 1em;
    text-align: justify;
}

.lastP {
    padding-bottom: 2em;
}

.summaryLink {
    padding-left: 1em;
    text-decoration: none;
    color:#5497D3;
}

                            /* Book entry nav styling below main titles */

.bookOl {
    text-decoration: none;
    width: 35em;
    padding-left: 1em;

    /*order: 3;*/
    /*flex: 0 1 100%;*/
}

.bookLi {
    float: left;
    padding-left: 1em;
    font-size: .875em;
    min-height: 27px;
    vertical-align: top;
    line-height: 29px;
    font-weight: 300;
}

.textLi {
    color: #C4C4C4;
    font-size: .9em;
}

.authorLink {
    text-decoration: none;
    color:#5497D3;
}

/* Follow Button */

.followButton {
    border-radius: 3px;
    border: 1px solid #A3C84E;
    background-color: transparent;
    color: #A3C84E;
    font-size: .8125rem;
    font-weight: 300;
    padding: .3125em .625em;
    vertical-align: top;
    display: inline;
}

.followButton:hover,
.followButton:focus {
    color: #fff;
    background-color:#A3C84E;
    cursor: pointer;
}


                        /* Stat Section for book entries with percents and list */

.statSection {
    float: left;
    width: 21em;
}

.percentSection {
    margin-top: 2.5em;
    padding: 0;
    clear: both;
}

.percentBars {
    padding: 0em 0 0 0;
    margin: 1.5em 1.75em;
}

.percentBars span:first-of-type {
    padding-left: .4375em;
}

.percentBars span:last-of-type {
    float: right;
    padding-right: .4375em;
}

.percentBarWrapper {
    width: 100%;
    clear: both;
    background: #F3F3F3;
    padding: 0;
    border-radius: 10px;
    position: relative;
    position: relative;
    top: .3125em;
}

.percentBarWrapper .progress {
    height: .25em;
    border-radius: 5px 0 0 5px;
    position: relative;
}

/* Value Bubbles for Percentage Bars */

.bubble {
    margin-left: .5em;
    display: inline-block;
    position: relative;
    top: -.25em;
    width: 1.375em;
    height: 1.125em;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.bubble:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    right: auto;
    top: auto;
    bottom: -.3125em;
    border: 6px solid;
}

.bubbleContent{
    text-align: center;
    line-height: 1.3em;
}

.bubbleContent p{
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: .65em;
}

.easyToFollow {
    color: #F9BD48;
}

.easyToFollow .progress {
    width: 80%;
    background-color: #F9BD48;
}

.easyToFollow .bubble {
    background-color: #F9BD48;
}

.easyToFollow .bubble:after {
    border-color: transparent transparent transparent #F9BD48;
}

.easyToFollow .bubbleContent p {
    color: #C18B2C;
}


.comprehensive {
    color: #6DC374;
}

.comprehensive .progress {
    width: 75%;
    background-color: #6DC374;
}

.comprehensive .bubble {
    background-color: #A7D8AA;
}

.comprehensive .bubble:after {
    border-color: transparent transparent transparent #A7D8AA;
}

.comprehensive .bubbleContent p {
    color: #479550;
}

.enoughExamples {
    color: #4EC9E0;
}

.enoughExamples .progress {
    width: 95%;
    background-color: #4EC9E0;
}

.enoughExamples .bubble {
    background-color: #96D6E6;
}

.enoughExamples .bubble:after {
    border-color: transparent transparent transparent #96D6E6;
}

.enoughExamples .bubbleContent p {
    color: #008AA1;
}

.linkSection {
    margin-top: 4em;
}

.options {
    padding: 0 0 .6em .4375em;
    max-width: 17.5625em;
    margin: .875em 1.75em;
    text-align: left;
    font-weight: 300;
    border-bottom: 1px solid #E5E5E5;
}

.options a {
    color: #2B84C4;
    text-decoration: none;
}

.options a:hover,
.options a:focus {
    color: #45AEF4;
}

.options span {
    position: relative;
    float: right;
}

.options:last-of-type {
    border-bottom: none;
}

                        /* Purchase book links section after book entry */

.purchaseLinks {
    clear: both;
    display: flex;
    flex-flow: row wrap;
}

.purchaseLinks a {
    text-decoration: none;
}

.purchaseLinks a:visited {
    color: inherit;
}

.purchaseLinks li {
    display: inline-block;
    margin-top: 1.8125em;
    margin-right: 1.9375em;
    max-height: 2.625em;
    background-color: #fff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.purchaseLinks li span {
    color: #A3C84E;
}

.purchaseLinks li span:hover,
.purchaseLinks li span:focus {
    color: #ACE249;
}

.purchaseLinks li span {
    vertical-align: top;
    line-height: 2.8125em;
    padding-left: .875em;
    padding-right: .875em;
    font-weight: 300;
}

.purchaseLinks li:last-of-type {
    /*float:right;*/
    background-color: transparent;
    text-align: center;
    margin-right: 0;
    font-size: .875em;

    margin-left: auto;
}

.purchaseLinks li:last-of-type a {
    color: #858683;
}

.purchaseLinks li:last-of-type a:hover,
.purchaseLinks li:last-of-type a:focus {
    color: #9FA09E;
}

.bookmarkIcon {
    font-size: 2.5rem;
    color: #858683;
}

.bookmarkIcon:hover,
.bookmarkIcon:focus {
    color: #9FA09E;
}

    /* Download Button */

.digitalDownload {
    border: none;
    clear: both;
    display: block;
    background-color: #93C33C;
    border-radius: 3px;
    color: white;
    font-weight: 300;
    font-size: 1.125em;
    font-family: Roboto, sans-serif;
    /* This is weird that I have to add
    so much margin just to nudge this
    button down a bit */
    margin-top: 22em;
    margin-left: 3px;
    padding: .625em 3.125em;
    cursor: pointer;
}

.digitalDownload:hover,
.digitalDownload:focus {
    background-color: #9DD041;
}

    /* Contents Overlay */

.bookEntryWithOverlay {
    position: relative;
}

.overlayWrapper {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(208,208,208,.7);
}

.contentsOverlay {
    float: right;
    background-color: #fff;
    border: 4px solid #C9E9E7;
    padding: 2.4375em 2.25em;
    height: 24.6em;
    width: 39em;
}


/* Placeholder text color for search bar in third book entry */

.searchPlace::-webkit-input-placeholder {
    color:#000;
    font-weight: 300;
    font-size: 1.2em;
}

.searchPlace:-moz-placeholder { /* Firefox 18- */
    color:#000;
    font-weight: 300;
    font-size: 1.2em;
}

.searchPlace::-moz-placeholder {  /* Firefox 19+ */
    color:#000;
    font-weight: 300;
    font-size: 1.2em;
}

.searchPlace:-ms-input-placeholder {
    color:#000;
    font-weight: 300;
    font-size: 1.2em;
}

#overlaySearchBox {
    border: 1px solid #D9D9D9;
    background-color: #fff;
    color: #000;
    font-weight: 300;
    margin-bottom: 2.8125em;
    width: 95%;
}

ol.resultsList {
    overflow: scroll;
    height: 19em;
}

.resultsList li {
    margin-bottom: 1.125em;
    overflow: scroll;
}

.resultsList li span {
    background-color: #D3EDD4;
}

.resultsList li span:last-of-type {
    background-color: initial;
    padding-right: 2em;
    float: right;
}

.tabsList {
    position: absolute;
    top: 230px;
    right: -269px;
    transform: rotate(90deg);
    max-height: .625em;
}

.tab {
    display: inline-block;
    padding: .8125rem;
    margin-right: .625em;
    font-size: .875em;
    font-weight: 300;
    color: #229BA7;
}

.tab:focus,
.tab:hover {
    color: #28C0CF;
    cursor: pointer;
}

.tab:first-of-type {
    color: #3F3F3F;
    position: relative;
    top: .4375em;
}

.tab:first-of-type:focus,
.tab:first-of-type:hover {
    color: #6F6F6F;
    cursor: pointer;
}
.active {
    background-color: #C9E9E7;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #00A6C7;
}

    /* Load text at bottom section*/

.loadText {
    text-transform: uppercase;
    color: #CACACA;
    text-align: center;
    font-size: 1.1em;

}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background:#3A3A3A;
    min-height: 12em;
}

.footWrapper {
    max-width: 74em;
    margin: 0 auto;
    clear: both;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media (min-width: 596px) {
    .footWrapper {
        /*flex-basis: 100%;*/
        justify-content: space-between;
    }
}

.logoContainer {
    /*float: left;*/
    width:25em;
    margin-top: 4em;
}

.logoName {
   font-family: "Roboto Slab", serif;
    color: #A9A9A9;
   font-size: 1.2em;
    font-weight: 500;
   padding:.8em 0 0 3.5em;
}

.spanLogo {
    color: #6E6E6E;
    font-weight:400;
}

.footImg {
    height: 3.1em;
    float: left;
}


            /* Footer Right Side */


.incContainer {
    /*float: right;*/
    margin-top:5em;
    font-size: .9em;
}

.footDate {
    color: #6E6E6E;
}

.contactEmail {
    position: relative;
    bottom: .5em;
    color: #A9A9A9;
    text-decoration: none;
}

.contactEmail:hover {
    color:#A2C331;
}



        /*  Input Error Tool Tip */

/*.search {outline:none; }*/
/*.search strong {line-height:30px;}*/
/*.search:hover {text-decoration:none;}*/


.search .siteSearchError {
    margin-top: 55px;
    margin-left: -560px;
}

.contentsOverlay .bookSearchError {
    margin-top: -50px;
    margin-left: 100px;
}
.search .siteSearchError,
.contentsOverlay .bookSearchError {
    z-index:10;
    display: none;
    padding: 14px 20px;
    width: 400px;
    line-height:16px;
    border-radius: 3px;
    /*display: inline;*/
    position: absolute;
    color: #EEE;
    background: rgba(191, 63, 63, 0.74);
}
