
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: 100%;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}





/*End Reset*/


body {
    position: relative;
    background: url("../images/books_header_bg.jpg") repeat-x;
    font-family: Roboto;
    padding-bottom: 12em;
}


/* Header */

.bannerContainer {
    margin: 0 auto;
    width: 50em;
    margin-top: 3em;
}

.mainHeader {
    font-family: "Roboto Slab";
    font-size: 1.9em;
    color: #fff;
    font-weight: 300;
    padding-top: .3em;
}

 .modern {
    margin-top: 1em;
    word-spacing: .1em;
    color:#EAF3CC;
    font-weight:100;
}
.tagLine{
    margin-top: .5em;
    color:#769210;
 }

.headLogo {
    float: left;
    padding-right: 1.2em;
    padding-left: 3.5em;
}


/* Search Box */

.search {
    width:41em;
    margin: 0 auto;
    margin-top: 1em;

}



input[type="text"] {
    height: 2.2em;
    width: 33em;
    background-color:#CEDD9A;
    color: #90A647;
    border: none;
    padding-left: 1em;
    font-size: 1.2em;
    outline: none;
    border-radius:5px;
}

/* use another class on magnify image in search bar to add javascript click functionality later */

.dem {
    position: relative;
    left: 37.4em;
    top: 2.95em;
    height: 2.8em;
    width: 3.5em;
    background-color: #fff;
    border-radius: 5px;

}

/* Placeholder text color */

::-webkit-input-placeholder {
    color: #90A647;
}

:-moz-placeholder { /* Firefox 18- */
    color: #90A647;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #90A647;
}

:-ms-input-placeholder {
    color: #90A647;
}



/* Nav Bar */

.navOl {
    list-style-type: none;
    margin: 0 auto;
    margin-top:3em;
    width: 65em;
    padding: 0;
    font-weight:400;
    font-family:"Roboto Slab";
}

.navList {
    float: left;
    padding: 1em;
}

.navLinks {
    display: block;
    text-decoration: none;
    color:#929292;

}

nav a:hover {
    color:#A2C331;
}


/* Main Section */


.main {
    clear: left;
    background:#F5F5F5;
    padding: 1em 0;
    padding-bottom: 20em;
    margin: 0 auto;
    width: 100%;
}

.bookEntry {
    margin: 3em auto;
    margin-bottom: 15em;
    width: 75em;
    height: 30em;
    background: #fff;

}

.bookImg {
    float: right;
    height: 30em;

}

.bookTitle {
    padding: 1em 0 .8em 1em;
    font-size: 1.8em;
}

.bookSummary {
    float: left;
    clear: left;
    margin-top: 1.5em;
    width: 26em;
    border-right: 1px #EDEDED solid ;
    padding: 0 2.5em 1em 1em ;
}

.summaryP {
    color: #565656;
    line-height: 1.4em;
    padding: 1em;
    text-align: justify;
}

.lastP {
    padding-bottom: 2em;
}

.summaryLink {
    padding-left: 1em;
    text-decoration: none;
    color:#5497D3;
}

                            /* Book entry nav styling below main titles */

.bookOl {
    text-decoration: none;
    width: 35em;
    padding-left: 1em;
}

.bookLi {
    float: left;
    padding-left: 1em;
    font-size: .8em;
}

.textLi {
    color: #C4C4C4;
    font-size: .9em;
}

.authorLink {
    text-decoration: none;
    color:#5497D3;
}


                        /* Stat Section for book entries with percents and list */

.statSection {
    float: left;
    width: 21em;
}


.percentSection {
    margin-top: 3em;
    padding: 0 0 0 3em;
}

.percentBars {
    padding: 1em 0 0 0;
}

.linkSection {
    margin-top: 5em;
}

.options {
    padding: 0 1em 1em 4em;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background:#3A3A3A;
    height: 12em;

}

.logoContainer {
    float: left;
    width:25em;
    margin-left: 13em;
    margin-top: 4em;
}

.logoName {
   font-family: "Roboto Slab";
    color: #A9A9A9;
   font-size: 1.2em;
    font-weight: 500;
   padding:.8em 0 0 3.5em;
}

.spanLogo {
    color: #6E6E6E;
    font-weight:400;
}

.footImg {
    height: 3.1em;
    float: left;
}


            /* Footer Right Side */


.incContainer {
    float: right;
    margin-top:5em;
    margin-right: 15em;
    font-size: .9em;
}

.footDate {
    color: #6E6E6E;
}

.contactEmail {
    position: relative;
    bottom: .5em;
    color: #A9A9A9;
    text-decoration: none;
}

.contactEmail:hover {
    color:#A2C331;
}